/*
Stylesheet written with BEM methodology

Block - .block
Element - .block__element
Modifier - .block__element__modifier / block--modifier

*/
/* ============================= Blocks =============================*/

.navbar {
	height: 200px;
	width: 100%;
	border: 0;
	overflow: hidden;

}

.footer {

}

/* ============================= Elements =============================*/

.navbar__button {
	height: 10px;
	width: 50px;
}

.navbar__input {

}

/* ============================= Modifiers =============================*/

.navbar__button__success {
	background-color: green;
}

.navbar__button__danger {
	background-color: red;
}



